<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-log-1"></div>
  <div class="col-log-11">
  <ul>
   <li>
    <h1>Trabajo 1</h1> - <h3>(years)</h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi ullam, illo omnis dolorem possimus nobis sapiente est. Minima dolore dolor placeat in aperiam accusantium nesciunt sit. Iste illum sunt cumque.
    </p>
   </li>
  </ul>
  <ul>
    <li>
     <h1>Trabajo 2</h1> - <h3>(years)</h3>
     <p>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi ullam, illo omnis dolorem possimus nobis sapiente est. Minima dolore dolor placeat in aperiam accusantium nesciunt sit. Iste illum sunt cumque.
     </p>
    </li>
   </ul>
   <ul>
   <li>
    <h1>Trabajo 3</h1> - <h3>(years)</h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi ullam, illo omnis dolorem possimus nobis sapiente est. Minima dolore dolor placeat in aperiam accusantium nesciunt sit. Iste illum sunt cumque.
    </p>
   </li>
  </ul>
  </div>
</div>